* {
  margin: 0;
  padding: 0;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#pixel-board {
  border: 1px solid black;
  margin-top: 20px;
  padding: 0;
}

.pixel, tr {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}
